*.sdf
*.suo
bat-firmware/bat-firmware/bat-firmware/Debug/main.o
*.dep
*.o
bat-firmware/bat-firmware/bat-firmware/Makefile
*.old
bat-firmware/bat-firmware/bat-firmware/release.mak
bat-firmware/bat-firmware/bat-firmware/stm32.mak
*.xml
*.ast
*.psf
*.lck
*.npa
*.npd
*.rdb
*.idx
*.dat
*.000
*.001
*.hpa
*.hpd
*.slx
*.mexw32
*.mat
*.bat
*.mk
*.rsp
*.tmp
*.html
*.png
*.js
*.css
*.tmw
*.dmr
*.tlc
*.tlh
*.obj
*.exp
*.lib
*.mak
*.map
*.manifest
*.mol
*.opensdf
vs-proj/vs-proj.sln
*.bin
*.elf
*.log
vs-proj/vs-proj/gcc_Debug.h
vs-proj/vs-proj/gcc_Release.h
vs-proj/vs-proj/LEDBlink.c
vs-proj/vs-proj/Makefile
vs-proj/vs-proj/stm32f4xx_hal_conf.h
*.vgdbsettings
vs-proj/vs-proj/vs-proj.vcxproj
vs-proj/vs-proj/vs-proj.vcxproj.filters
vs-proj/vs-proj/vs-proj.vcxproj.user
