*.sdf
*.suo
bat-firmware/bat-firmware/bat-firmware/Debug/main.o
*.dep
*.o
bat-firmware/bat-firmware/bat-firmware/Makefile
*.old
bat-firmware/bat-firmware/bat-firmware/release.mak
bat-firmware/bat-firmware/bat-firmware/stm32.mak
*.xml
*.ast
*.psf
*.lck
*.npa
*.npd
*.rdb
*.idx
*.dat
*.000
*.001
*.hpa
*.hpd
*.slx
*.mexw32
*.mat
*.bat
*.mk
*.rsp
*.tmp
*.html
*.png
*.js
*.css
*.tmw
*.dmr
*.tlc
*.tlh
*.obj
*.exp
*.lib
*.mak
*.map
*.manifest
*.mol
*.opensdf
